@model EditQuestionnaireViewModel

@{
    ViewBag.Title = "Редактирование анкеты";
    Layout = "_Layout";
}

<div class="container">
    <div class="d-flex justify-content-center justify-content-md-start">
        <h2>Редактирование анкеты</h2>
    </div>
    <div class="row mx-auto d-flex justify-content-center align-items-center">
        <div class="col-12">
            <div class="border border-3 border-success rounded m-1 bg-list-block">
                <div class="border border-3 border-success rounded m-2 bg-white">
                    <form class="m-2" method="post" asp-controller="Questionnaire">
                        <div class="validation text-danger" asp-validation-summary="ModelOnly"></div>
                        <input type="hidden" asp-for="PersonalDetailsId" value="@Model.PersonalDetailsId" />
                        <input type="hidden" asp-for="Surname">
                        <input type="hidden" asp-for="Name">
                        <input type="hidden" asp-for="Patronymic">
                        <input type="hidden" asp-for="GenderId">
                        <input type="hidden" asp-for="MaritalStatusId">
                        <input type="hidden" asp-for="CountryId">
                        <input type="hidden" asp-for="NationalityId">
                        <input type="hidden" asp-for="Birthday">
                        <input type="hidden" asp-for="PlaceofBirth">
                        <input type="hidden" asp-for="PermamentHomeAddress">
                        <input type="hidden" asp-for="PhoneNumber">
                        <input type="hidden" asp-for="PhoneNumberInBelarus">
                        <input type="hidden" asp-for="Email">
                        <div class="row mx-auto">
                            <div class="col-12 d-flex justify-content-center align-items-center">
                                <h3>АНКЕТА</h3>
                            </div>
                            <div class="col-12 d-flex justify-content-center align-items-center mb-3">
                                Личные данные
                            </div>
                            <div class="col-12">
                                <fieldset disabled>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text text-muted">1</span>
                                        <span class="input-group-text text-muted">Фамилия, имя, отвество</span>
                                        <input type="text" class="form-control" placeholder="Фамилия" asp-for="Surname">
                                        <input type="text" class="form-control" placeholder="Имя" asp-for="Name">
                                        <input type="text" class="form-control" placeholder="Отчество" asp-for="Patronymic">
                                        <div>
                                            <span class="form-text text-danger" asp-validation-for="Surname"></span>
                                            <span class="form-text text-danger" asp-validation-for="Name"></span>
                                            <span class="form-text text-danger" asp-validation-for="Patronymic"></span>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-12 col-md-6">
                                <fieldset disabled>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text text-muted">2</span>
                                        <span class="input-group-text text-muted">Дата рождения</span>
                                        <input type="date" class="form-control" placeholder="Дата рождения" asp-for="Birthday">
                                        <div>
                                            <span class="form-text text-danger" asp-validation-for="Birthday"></span>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-12 col-md-6">
                                <fieldset disabled>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text text-muted">3</span>
                                        <span class="input-group-text text-muted">Пол</span>
                                        <select class="form-select" asp-for="GenderId" asp-items="ViewBag.Genders">
                                            <option value="">Выберите пол</option>
                                        </select>
                                        <div>
                                            <span class="form-text text-danger" asp-validation-for="GenderId"></span>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-12 col-md-6">
                                <fieldset disabled>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text text-muted">4</span>
                                        <span class="input-group-text text-muted">Страна</span>
                                        <select class="form-select" asp-for="CountryId" asp-items="ViewBag.Countries">
                                            <option value="">Выберите страну</option>
                                        </select>
                                        <div>
                                            <span class="form-text text-danger" asp-validation-for="CountryId"></span>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-12 col-md-6">
                                <fieldset disabled>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text text-muted">5</span>
                                        <span class="input-group-text text-muted">Место рождения</span>
                                        <input type="text" class="form-control" placeholder="cтрана, город / country, city" asp-for="PlaceofBirth">
                                        <div>
                                            <span class="form-text text-danger" asp-validation-for="PlaceofBirth"></span>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-12 col-md-6">
                                <fieldset disabled>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text text-muted">6</span>
                                        <span class="input-group-text text-muted">Национальность</span>
                                        <select class="form-select" asp-for="NationalityId" asp-items="ViewBag.Nationalities">
                                            <option value="">Выберите национальность</option>
                                        </select>
                                        <div>
                                            <span class="form-text text-danger" asp-validation-for="NationalityId"></span>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-12 col-md-6">
                                <fieldset disabled>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text text-muted">7</span>
                                        <span class="input-group-text text-muted">Семейное положение</span>
                                        <select class="form-select" asp-for="MaritalStatusId" asp-items="ViewBag.MaritalStatuses">
                                            <option value="">Выберите семейное положение</option>
                                        </select>
                                        <div>
                                            <span class="form-text text-danger" asp-validation-for="MaritalStatusId"></span>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-12">
                                <fieldset disabled>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text text-muted">8</span>
                                        <span class="input-group-text text-muted">Фактический адрес проживания</span>
                                        <input type="text" class="form-control" placeholder="область, район, город (поселок), улица, дома / region. district, city (town), street, house" asp-for="PermamentHomeAddress">
                                        <div>
                                            <span class="form-text text-danger" asp-validation-for="PermamentHomeAddress"></span>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-12 d-flex justify-content-center align-items-center mb-3">
                                Контактные данные
                            </div>
                            <div class="col-12">
                                <fieldset disabled>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text text-muted">9</span>
                                        <span class="input-group-text text-muted">Номер телефона</span>
                                        <input type="text" class="form-control" asp-for="PhoneNumber">
                                        <div>
                                            <span class="form-text text-danger" asp-validation-for="PhoneNumber"></span>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-12">
                                <fieldset disabled>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text text-muted">10</span>
                                        <span class="input-group-text text-muted">Номер телефона в беларуси</span>
                                        <input type="text" class="form-control" asp-for="PhoneNumberInBelarus">
                                        <div>
                                            <span class="form-text text-danger" asp-validation-for="PhoneNumberInBelarus"></span>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-12">
                                <fieldset disabled>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text text-muted">11</span>
                                        <span class="input-group-text text-muted">Электронная почта</span>
                                        <input type="text" class="form-control" asp-for="Email">
                                        <div>
                                            <span class="form-text text-danger" asp-validation-for="Email"></span>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-12 d-flex justify-content-center align-items-center mb-3">
                                Информация о родителях
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text text-muted">12</span>
                                    <span class="input-group-text text-muted">Имя отца</span>
                                    <input type="text" class="form-control" asp-for="FathersName">
                                    <div>
                                        <span class="form-text text-danger" asp-validation-for="FathersName"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text text-muted">13</span>
                                    <span class="input-group-text text-muted">Имя матери</span>
                                    <input type="text" class="form-control" asp-for="MothersName">
                                    <div>
                                        <span class="form-text text-danger" asp-validation-for="MothersName"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text text-muted">14</span>
                                    <span class="input-group-text text-muted">Профессия отца</span>
                                    <input type="text" class="form-control" asp-for="FathersProfession">
                                    <div>
                                        <span class="form-text text-danger" asp-validation-for="FathersProfession"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text text-muted">15</span>
                                    <span class="input-group-text text-muted">Профессия матери</span>
                                    <input type="text" class="form-control" asp-for="MothersProfession">
                                    <div>
                                        <span class="form-text text-danger" asp-validation-for="MothersProfession"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text text-muted">16</span>
                                    <span class="input-group-text text-muted">Номер отца</span>
                                    <input type="text" class="form-control" asp-for="FathersPhone">
                                    <div>
                                        <span class="form-text text-danger" asp-validation-for="FathersPhone"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="input-group mb-3">
                                    <span class="input-group-text text-muted">17</span>
                                    <span class="input-group-text text-muted">Номер матери</span>
                                    <input type="text" class="form-control" asp-for="MothersPhone">
                                    <div>
                                        <span class="form-text text-danger" asp-validation-for="MothersPhone"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 d-flex justify-content-center align-items-center mb-3">
                                Образование
                            </div>
                            <div class="col-12">
                                <div class="input-group mb-3">
                                    <span class="input-group-text text-muted">18</span>
                                    <span class="input-group-text text-muted">Название школы или колледжа</span>
                                    <input type="text" class="form-control" asp-for="NameOfSchool">
                                    <div>
                                        <span class="form-text text-danger" asp-validation-for="NameOfSchool"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group mb-3">
                                    <span class="input-group-text text-muted">19</span>
                                    <span class="input-group-text text-muted">Адрес</span>
                                    <input type="text" class="form-control" asp-for="AddressOfSchool">
                                    <div>
                                        <span class="form-text text-danger" asp-validation-for="AddressOfSchool"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group mb-3">
                                    <span class="input-group-text text-muted">20</span>
                                    <span class="input-group-text text-muted">Дата поступления - Дата окончания</span>
                                    <input type="date" class="form-control" asp-for="DateOfEntrance">
                                    <span class="input-group-text text-muted">&ndash;</span>
                                    <input type="date" class="form-control" asp-for="DateOfCompletion">
                                    <div>
                                        <span class="form-text text-danger" asp-validation-for="DateOfEntrance"></span>
                                        <span class="form-text text-danger" asp-validation-for="DateOfCompletion"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 d-flex justify-content-center align-items-center mb-3">
                                Обучение в БНТУ
                            </div>
                            <div class="col-12">
                                <div class="input-group mb-3">
                                    <span class="input-group-text text-muted">21</span>
                                    <span class="input-group-text text-muted">Выбранная специальность для учёбы</span>
                                    <select class="form-select" asp-for="SpecialtyId" asp-items="ViewBag.Specialties">
                                        <option value="">Выберите специальность</option>
                                    </select>
                                    <div>
                                        <span class="form-text text-danger" asp-validation-for="SpecialtyId"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 d-flex justify-content-center align-items-center mb-3">
                                Дополнительная информация
                            </div>
                            <div class="col-12">
                                <div class="input-group mb-3">
                                    <span class="input-group-text text-muted">22</span>
                                    <span class="input-group-text text-muted">Каким языком владеете</span>
                                    <input type="text" class="form-control" asp-for="KnowledgeOfLanguages">
                                    <div>
                                        <span class="form-text text-danger" asp-validation-for="KnowledgeOfLanguages"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group mb-3">
                                    <span class="input-group-text text-muted">23</span>
                                    <span class="input-group-text text-muted">
                                        Имя и адрес родственника,<br>который должен быть информирован<br>в случае крайней необходимости
                                    </span>
                                    <input type="text" class="form-control" asp-for="RelativeToBeInformedInEmergency">
                                    <div>
                                        <span class="form-text text-danger" asp-validation-for="RelativeToBeInformedInEmergency"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group mb-3">
                                    <span class="input-group-text text-muted">24</span>
                                    <span class="input-group-text text-muted">Откуда Вы узнали про БНТУ</span>
                                    <input type="text" class="form-control" asp-for="HowDidYouFindOutAboutBNTU">
                                    <div>
                                        <span class="form-text text-danger" asp-validation-for="HowDidYouFindOutAboutBNTU"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group mb-3">
                                    <span class="input-group-text text-muted">25</span>
                                    <span class="input-group-text text-muted">Тип обучения</span>
                                    <select class="form-select" asp-for="EducationTypeId" asp-items="ViewBag.EduType">
                                        <option value="">Выберите тип обучения</option>
                                    </select>
                                    <div>
                                        <span class="form-text text-danger" asp-validation-for="EducationTypeId"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group mb-3">
                                    <span class="input-group-text text-muted">26</span>
                                    <span class="input-group-text text-muted">Язык обучения</span>
                                    <select class="form-select" asp-for="EducationLanguageId" asp-items="ViewBag.EduLang">
                                        <option value="">Выберите язык обучения</option>
                                    </select>
                                    <div>
                                        <span class="form-text text-danger" asp-validation-for="EducationLanguageId"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 d-flex justify-content-center align-items-center">
                                <h3>ПРИКАЗЫ</h3>
                            </div>
                            <div class="col-12">
                                <div class="mb-3 col-12 d-flex justify-content-center">
                                    <input type="submit" asp-action="AddOrderToQuestionnaire" asp-route-orderType="@OrderType.Order" value="Добавить приказ" class="btn btn-outline-success" />
                                </div>
                                <div class="row mx-auto d-flex align-items-center">
                                    @if (Model != null && Model.Orders != null && Model.Orders.Count > 0)
                                    {
                                        @for (var i = 0; i < Model.Orders.Count; i++)
                                        {
                                            <input type="hidden" asp-for="@Model.Orders[@i].OrderType" />
                                            <input type="hidden" asp-for="@Model.Orders[@i].Created" />
                                            <div class="col-12 col-md-4  d-flex justify-content-center justify-content-md-start align-items-center">
                                                <div class="border border-3 border-success rounded m-1 bg-list-block">
                                                    <div class="border border-3 border-success rounded m-2 bg-white">
                                                        <div class="m-1">
                                                            <div class="input-group">
                                                                <span class="input-group-text text-muted">Дата</span>
                                                                <input type="date" class="form-control" asp-for="@Model.Orders[@i].Date" />
                                                            </div>
                                                            <hr>
                                                            <div class="input-group">
                                                                <span class="input-group-text text-muted">Приказ</span>
                                                                <input class="form-control" asp-for="@Model.Orders[@i].OrderContent" />
                                                            </div>
                                                            <hr>
                                                            <div class="input-group">
                                                                <span class="input-group-text text-muted">Наименование</span>
                                                                <input class="form-control" asp-for="@Model.Orders[@i].Name" />
                                                            </div>
                                                            <hr>
                                                            <div class="input-group">
                                                                <span class="input-group-text text-muted">Дата начала действия</span>
                                                                <input type="date" class="form-control" asp-for="@Model.Orders[@i].StartDate" />
                                                            </div>
                                                            <div class="mt-3 d-flex justify-content-center">
                                                                <input type="submit" asp-action="RemoveOrderFromQuestionnaire" asp-route-orderType="@OrderType.Order" asp-route-index="@i" value="Удалить" class="btn btn-success" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                            <div class="col-12 d-flex justify-content-center align-items-center">
                                <h3>ВЫГОВОРЫ</h3>
                            </div>
                            <div class="col-12">
                                <div class="mb-3 col-12 d-flex justify-content-center">
                                    <input type="submit" asp-action="AddOrderToQuestionnaire" asp-route-orderType="@OrderType.Reprimand" value="Добавить выговор" class="btn btn-outline-success" />
                                </div>
                                <div class="row mx-auto d-flex align-items-center">
                                    @if (Model != null && Model.Reprimands != null && Model.Reprimands.Count > 0)
                                    {
                                        @for (var i = 0; i < Model.Reprimands.Count; i++)
                                        {
                                            <input type="hidden" asp-for="@Model.Reprimands[@i].Created" />
                                            <input type="hidden" asp-for="@Model.Reprimands[@i].OrderType" />
                                            <div class="col-12 col-md-4  d-flex justify-content-center justify-content-md-start align-items-center">
                                                <div class="border border-3 border-success rounded m-1 bg-list-block">
                                                    <div class="border border-3 border-success rounded m-2 bg-white">
                                                        <div class="m-1">
                                                            <div class="input-group">
                                                                <span class="input-group-text text-muted">Дата</span>
                                                                <input type="date" class="form-control" asp-for="@Model.Reprimands[@i].Date" />
                                                            </div>
                                                            <hr>
                                                            <div class="input-group">
                                                                <span class="input-group-text text-muted">Приказ</span>
                                                                <input class="form-control" asp-for="@Model.Reprimands[@i].OrderContent" />
                                                            </div>
                                                            <hr>
                                                            <div class="input-group">
                                                                <span class="input-group-text text-muted">Наименование</span>
                                                                <input class="form-control" asp-for="@Model.Reprimands[@i].Name" />
                                                            </div>
                                                            <hr>
                                                            <div class="input-group">
                                                                <span class="input-group-text text-muted">Дата начала действия</span>
                                                                <input type="date" class="form-control" asp-for="@Model.Reprimands[@i].StartDate" />
                                                            </div>
                                                            <div class="mt-3 d-flex justify-content-center">
                                                                <input type="submit" asp-action="RemoveOrderFromQuestionnaire" asp-route-orderType="@OrderType.Reprimand" asp-route-index="@i" value="Удалить" class="btn btn-success" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                            <div class="col-12 d-flex justify-content-center align-items-center">
                                <h3>ПРОЖИВАНИЕ</h3>
                            </div>
                            <div class="col-12">
                                <div class="mb-3 col-12 d-flex justify-content-center">
                                    <input type="submit" asp-action="AddHomeToQuestionnaire" value="Добавить запись" class="btn btn-outline-success" />
                                </div>
                                <div class="row mx-auto d-flex align-items-center">
                                    @if (Model != null && Model.Homes != null && Model.Homes.Count > 0)
                                    {
                                        @for (var i = 0; i < Model.Homes.Count; i++)
                                        {
                                            <input type="hidden" asp-for="@Model.Homes[@i].Created" />
                                            <div class="col-12 col-md-4  d-flex justify-content-center justify-content-md-start align-items-center">
                                                <div class="border border-3 border-success rounded m-1 bg-list-block">
                                                    <div class="border border-3 border-success rounded m-2 bg-white">
                                                        <div class="m-1">
                                                            <div class="input-group">
                                                                <span class="input-group-text text-muted">Район</span>
                                                                <input type="text" class="form-control" asp-for="@Model.Homes[@i].HomeDistrict" />
                                                            </div>
                                                            <hr>
                                                            <div class="input-group">
                                                                <span class="input-group-text text-muted">Адрес</span>
                                                                <input class="form-control" asp-for="@Model.Homes[@i].HomeAddress" />
                                                            </div>
                                                            <hr>
                                                            <div class="input-group">
                                                                <span class="input-group-text text-muted">Номер</span>
                                                                <input class="form-control" asp-for="@Model.Homes[@i].HomeNumber" />
                                                            </div>
                                                            <hr>
                                                            <div class="input-group">
                                                                <span class="input-group-text text-muted">Кв./ком.</span>
                                                                <input class="form-control" asp-for="@Model.Homes[@i].HomeFlat" />
                                                            </div>
                                                            <hr>
                                                            <div class="input-group">
                                                                <span class="input-group-text text-muted">Актуальность</span>
                                                                <select class="form-select" asp-for="@Model.Homes[@i].IsLegacy">
                                                                    <option value="">Актуально?</option>
                                                                    <option value="true">Да</option>
                                                                    <option value="false">Нет</option>
                                                                </select>
                                                            </div>
                                                            <hr>
                                                            <div class="input-group">
                                                                <span class="input-group-text text-muted">Тип</span>
                                                                <select class="form-select" asp-for="@Model.Homes[@i].HomeType">
                                                                    <option value="">Выберите тип</option>
                                                                    <option value="@HomeType.Apartment">Квартира</option>
                                                                    <option value="@HomeType.Hostel">Общежитие</option>
                                                                </select>
                                                            </div>
                                                            <div class="mt-3 d-flex justify-content-center">
                                                                <input type="submit" asp-action="RemoveOrderFromQuestionnaire" value="Удалить" class="btn btn-success" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success">Обновить</button>
                        <button align="center" asp-action="GetFile" type="submit" class="btn btn-default">В файл</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>