@model GetStudentCardListViewModel

@{
    ViewBag.Title = "Список карточек";
    Layout = "_Layout";
}

<div class="container">
    <div class="border border-3 border-success rounded m-1 bg-list-block">
        <div class="border border-3 border-success rounded m-2 bg-white">
            <form class="m-2" method="post">
                <div class="fs-5 align-content-center align-items-center">Поиск</div>
                <div class="mx-auto">
                    <div class="col-12 d-flex justify-content-center justify-content-md-start align-items-center">
                        <input class="form-control m-1" asp-for="SearchStudentCard.SearchString" placeholder="Универсальный поиск" />
                    </div>
                    <div class="col-12 d-flex justify-content-center justify-content-md-start align-items-center">
                        
                        <select class="form-select m-1" asp-for="SearchStudentCard.GenderId" asp-items="ViewBag.Genders">
                            <option value="@Guid.Empty">Выберите пол</option>
                            <option value="@null">Не определено</option>
                        </select>
                        <select class="form-select m-1" asp-for="SearchStudentCard.MaritalStatusId" asp-items="ViewBag.MaritalStatuses">
                            <option value="@Guid.Empty">Выберите семейное положение</option>
                            <option value="@null">Не определено</option>
                        </select>
                    </div>
                    <div class="col-12 d-flex justify-content-center justify-content-md-start align-items-center">
                        <select class="form-select m-1" asp-for="SearchStudentCard.CountryId" asp-items="ViewBag.Countries">
                            <option value="@Guid.Empty">Выберите страну</option>
                            <option value="@null">Не определено</option>
                        </select>
                        <select class="form-select m-1" asp-for="SearchStudentCard.NationalityId" asp-items="ViewBag.Nationalities">
                            <option value="@Guid.Empty">Выберите национальность</option>
                            <option value="@null">Не определено</option>
                        </select>
                    </div>
                    <div class="col-12 d-flex justify-content-center justify-content-md-start align-items-center">
                        
                        <select class="form-select m-1" asp-for="SearchStudentCard.PassportValid">
                            <option value="@null">Выберите информацию о действительности паспорта</option>
                            <option value="@true">Паспорт действителен</option>
                            <option value="@false">Паспорт недействителен</option>
                        </select>
                        <select class="form-select m-1" asp-for="SearchStudentCard.RegisterValid">
                            <option value="@null">Выберите информацию о действительности регистрации</option>
                            <option value="@true">Регистрация действительна</option>
                            <option value="@false">Регистрация недействительна</option>
                        </select>
                    </div>
                    <div class="col-12 d-flex justify-content-center justify-content-md-start align-items-center">
                        <button asp-controller="StudentCard" asp-action="GetAll" type="submit" class="btn btn-success m-1">Найти</button>
                        <button asp-controller="StudentCard" asp-action="GetFileList" type="submit" class="btn btn-outline-success m-1">В файл</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="d-flex justify-content-center justify-content-md-start">
        <h1>Список карточек:</h1>
    </div>
    <div class="row mx-auto">
        @foreach (var item in Model.StudentCardViewModels)
        {
            <div class="col-12 col-sm-6 col-md-4 d-flex justify-content-center justify-content-md-start align-items-center">
                <div class="border border-3 border-success rounded m-1 bg-list-block">
                    <div class="border border-3 border-success rounded m-2 bg-white">
                        <div class="m-1">
                            <fieldset disabled>
                                <div class="input-group">
                                    <span class="input-group-text text-muted">ФИО</span>
                                    <input type="text" class="input-group-text form-control" asp-for="@item.Surname">
                                    <input type="text" class="input-group-text form-control" asp-for="@item.Name">
                                    <input type="text" class="input-group-text form-control" asp-for="@item.Patronymic">
                                </div>
                                <hr>
                                <div class="input-group">
                                    <span class="input-group-text text-muted">Email</span>
                                    <input type="text" class="input-group-text form-control" asp-for="@item.Email">
                                </div>
                                <hr>
                                <div class="input-group">
                                    <span class="input-group-text text-muted">Семейное положение</span>
                                    <input type="text" class="input-group-text form-control" asp-for="@item.MaritalStatus">
                                </div>
                                <hr>
                                <div class="input-group">
                                    <span class="input-group-text text-muted">Пол</span>
                                    <input type="text" class="input-group-text form-control" asp-for="@item.Gender">
                                </div>
                                <hr>
                                <div class="input-group">
                                    <span class="input-group-text text-muted">Национальность</span>
                                    <input type="text" class="input-group-text form-control" asp-for="@item.Nationality">
                                </div>
                                <hr>
                                <div class="input-group">
                                    <span class="input-group-text text-muted">Страна</span>
                                    <input type="text" class="input-group-text form-control" asp-for="@item.Country">
                                </div>
                                <hr>
                            </fieldset>
                            <div class="row my-1 d-flex justify-content-center align-items-center">
                                <div class="col-12 d-flex justify-content-center justify-content-md-start align-items-center">
                                    <a asp-controller="StudentCard" asp-action="History" asp-route-Id="@item.PersonalId"><input type="button" class="btn btn-outline-success" value="История"></a>
                                </div>
                            </div>
                            <div class="row my-1 d-flex justify-content-center align-items-center">
                                <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-start align-items-center">
                                    <a asp-controller="StudentCard" asp-action="EditStudentCard" asp-route-Id="@item.Id"><input type="button" class="btn btn-success" value="Редактировать"></a>
                                </div>
                                <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-end align-items-center">
                                    <form asp-controller="StudentCard" asp-action="DeleteStudentCard" method="post" asp-route-id="@item.Id">
                                        <input type="submit" class="btn btn-success" value="Удалить" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>